:root{
    --darkColor1: #13183f;
    --lightColor1: #83869A;
    
}

html{
    font: 500 62.5% 'Plus Jakarta Sans', sans-serif;
}

body{
    overflow-x: hidden;
}

p, 
a{
    font-size: 1.8rem;
}

h1{
    font-size: 5.6rem;
    color: #13183f;
}

h2{
    font-size: 3.2rem;
    color: white;
}

h3{
    font-size: 2.4rem;
    font-weight: 800;
    color: #13183f;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

p{
    line-height: 1.5;
    color:var(--lightColor1);
}

.wrapperContainer{
    max-width: 111rem;
    margin: auto;
}

.courses{
    padding-bottom: 14rem;
    background-image: linear-gradient(white, #F0F1FF);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 0;
}

.btn1{
    color:#FFFF;
    border-radius: 50px;
    text-decoration: none;
    cursor: pointer;
}

.btn-header{
    z-index: 1;
    background-color:var(--darkColor1);
    padding: 1.4rem  3.1rem;
}

.btn-header:hover{
    background-color:#83869a;
}

.hero-banner{
    display: flex;
    width: 42%;
}

.image-position{
    position: absolute;
    top: -15rem;
    right: -15rem;
}

.image-position img{
    width: 100%;
}

.hero_content h1{
    padding-top: 6rem;
    font-weight: 800;
}

.hero_content p{
    margin-bottom: 4rem;
}

.btn-hero{
    display: inline-block;
    background-image: linear-gradient(#F02AA6, #FF6F48);
    padding: 1.6rem  2.8rem;
}

.btn-hero:hover{
    opacity: .5;
}


.courses-container{
    margin-top: 26rem;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    gap: 8rem 3rem;
}

.card{
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 250px;
    border-radius: 15px;
    padding: 6rem 3.2rem 4.2rem ;
    background-color: white;
}

.card p{
    flex-grow: 1;
}

.firstCard{
    background-image: linear-gradient( #FF6F48, #F02AA6);
}

.card-ico {
    width: 56px;
    margin-top: -8rem;
}

.card a{
    color: #f74780;
    font-size: 1.8;
    text-decoration: none;
    font-weight: 700;
}

.card a:hover{
    opacity: .5;
}

.wrapperContainer-footer{
    background-color: var(--darkColor1);
    padding: 3.2rem 0;
}

.btn-footer{
    background-image: linear-gradient(#4851ff,#f02aa6);
    padding: 1.4rem  3.1rem;
}

.btn-footer:hover{
    opacity: .5;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media all and (min-width: 768px) and (max-width: 1279px)  {

    body{
        overflow-x: hidden;
    }

    main{
        padding-bottom: 8rem;
    }

    h1{
        font-size: 4.0rem;
        margin-top: 0;
    }
    
    h2{
        font-size: 2.4rem;
        margin-top: 0;
    }
    
    h3{
        margin-top: 2rem;
        margin-bottom: 0;
        font-size: 2.0rem;
        font-weight: 800;
    }
    
    p{
        font-size: 1.6rem;
        line-height: 1.5;
        color:var(--lightColor1);
        margin-bottom: 3rem;
    }

    a{
        font-size: 1.6rem; 
    }

    .btn-header{
        padding: 1.3rem  2.5rem;
    }

    .header img{
        width: 89px;
    }

    .hero-banner{
        display: flex;
        width: 60%;
    }

    .hero_content p{
        margin-bottom: 2rem;
    }

    .wrapperContainer{
        margin-top: 0;
        max-width: 76.8rem;
        min-width: 34.3rem;
        margin: auto;
    }

    .image-position{
        position: absolute;
        top: -9rem;
        right: -30rem;
    }

    .courses-container{
        margin-top: 20rem;
        gap: 5.6rem 1.1rem;
    }

    .card{
        padding: 5rem 2.5rem 3rem ;
 
    }

    .footer img{
        width: 89px;
    }
    
}

@media all and (max-width: 767px) {


    p{
        font-size: 1.6rem;
        margin-bottom: 2.3rem;
    }

    h1{
        font-size: 4.0rem;
        margin-top: 0;
    }

    h2{
        font-size: 2.4rem;
    }

    main{
        padding-bottom: 10rem;
    }

    .header img{
        width: 89px;
    }

    .header{
        padding: 1.5rem 0;
    }

    .btn-header{
        padding: 1.5rem  2.5rem;
    }

    .wrapperContainer{
        margin-top: 0;
        max-width: 34.3rem;
        margin: auto;
    }

    .hero-banner{
        display: inline;
        width: 100%;
    }

    .hero_content{
        display: inline;
    }

    .hero_content h1{
        padding-top: 3.5rem;
        font-weight: 800;
    }

    .hero_content p{
        margin-bottom: 3rem;
    }

    .hero_content a{
        margin-bottom: 3rem;
    }

    .image-position{
        position: static;
        padding-bottom: 0;
        
    }

    .image-position img{
        position: relative;
        width: 120%;
        margin: -3rem;
        overflow: hidden;
    }

    .courses-container{
        margin-top: 5rem;
        gap:5rem;
    }

    .card{
        padding: 5rem 2.5rem 3rem ;
 
    }

    .firstCard{
        padding: 1rem 2.5rem 1rem ;
    }

    .btn-footer{
        padding: 1.5rem  2.5rem;
    }

    .footer img{
        width: 89px;
    }
 


} 